<?xml version="1.0" encoding="UTF-8"?>

<!-- jdbc.sqlonly : SQL문만을 로그로 남기며, PreparedStatement일 경우 관련된 argument 값으로 대체된 SQL문이 보여진다. -->
<!-- jdbc.sqltiming :SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds)를 포함한다.   (**DEBUG) -->
<!-- jdbc.audit : ResultSet을 제외한 모든 JDBC 호출 정보를 로그로 남긴다. 많은 양의 로그가 생성되므로 특별히 JDBC 문제를 추적해야 할 필요가 있는 경우를 제외하고는 사용을 권장하지 않는다.  (**INFO, DEBUG) -->
<!-- jdbc.resultset : ResultSet을 포함한 모든 JDBC 호출 정보를 로그로 남기므로 매우 방대한 양의 로그가 생성된다. -->
<!-- jdbc.resultsettable : SQL 결과 조회된 데이터의 table을 로그로 남긴다. -->
<!-- root level : trace < debug < info < warn < error -->

<configuration scan="true" scanPeriod="60 seconds">

	<property name="PROJECT_NAME" value="auth" />

	<!-- SERVER -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %cyan(%-45logger{36}) %highlight(%-6level) %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}${PROJECT_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}${PROJECT_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	          <maxFileSize>100MB</maxFileSize>
	        </timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="ERROR"/>

	<springProfile name="local">
		<logger name="jdbc" level="OFF"/>
		<logger name="jdbc.sqlonly" level="DEBUG"/>
		<logger name="jdbc.sqltiming" level="OFF"/>
		<logger name="jdbc.audit" level="OFF"/>
		<logger name="jdbc.resultsettable" level="OFF"/>
		<logger name="jdbc.connection" level="OFF"/>
		<logger name="org.apache.tomcat" level="OFF"/>
		<logger name="org.apache.tomcat.util.net" level="OFF"/>
		<logger name="com.zaxxer.hikari.pool.HikariPool" level="OFF"/>
		<root level="debug">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="LOG_FILE" /> <!-- 필요할시 활성 -->
		</root>
	</springProfile>

	<springProfile name="dev">
		<logger name="jdbc" level="OFF"/>
		<logger name="jdbc.sqlonly" level="debug"/>
		<logger name="jdbc.sqltiming" level="OFF"/>
		<logger name="jdbc.audit" level="OFF"/>
		<logger name="jdbc.resultset" level="OFF"/>
		<logger name="jdbc.resultsettable" level="OFF"/>
		<logger name="jdbc.connection" level="OFF"/>
		<logger name="org.apache.tomcat" level="OFF"/>
		<logger name="org.apache.tomcat.util.net" level="OFF"/>
		<logger name="org.springframework.web.client.RestTemplate" level="OFF"/>
		<logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="OFF"/>
		<logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO"/>
		<root level="debug">
			<appender-ref ref="LOG_FILE" />
		</root>
	</springProfile>

	<springProfile name="real">
		<logger name="jdbc" level="OFF"/>
		<logger name="jdbc.sqlonly" level="DEBUG"/>
		<logger name="jdbc.sqltiming" level="OFF"/>
		<logger name="jdbc.audit" level="OFF"/>
		<logger name="jdbc.resultset" level="OFF"/>
		<logger name="jdbc.resultsettable" level="OFF"/>
		<logger name="jdbc.connection" level="OFF"/>
		<logger name="org.apache.tomcat" level="OFF"/>
		<logger name="org.apache.tomcat.util.net" level="OFF"/>
		<logger name="org.springframework.web.client.RestTemplate" level="OFF"/>
		<root level="ERROR">
			<appender-ref ref="LOG_FILE" />
		</root>
	</springProfile>
</configuration>