<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.fingate.gs.auth.signup.dao.SignupDao">

    <select id="getOvlap" parameterType="java.util.Map" resultType="boolean">
        /* SignupDao.getOvlap */
        SELECT CASE WHEN COUNT(1) >= 1
                    THEN 0
                    ELSE 1
                END
        FROM FG_USER
        WHERE CLIENT_NO = #{user.clientNo}
        AND (
            1 != 1
            <if test='atrvt == null || "".equals(atrvt) || "loginEmail".equals(atrvt)'>
                OR LOGIN_EMAIL = #{user.loginEmail}
            </if>
        )
    </select>

    <insert id="insUser" parameterType="kr.fingate.gs.auth.signup.dto.SignupDto" useGeneratedKeys="true" keyProperty="userNo">
        /* SignupDao.insUser */
        <selectKey resultType="int" keyProperty="userNo" order="AFTER">
               SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO FG_USER(CLIENT_NO,
                            LOGIN_EMAIL,
                            LOGIN_PSWRD,
                            USER_NAME,
                            USER_NIKNM,
                            CELL_TELL_NO,
                            BIRTH_DATE,
                            GENDER_TYPE,
                            REG_DATE)
           VALUES(#{clientNo},
               #{loginEmail},
               #{loginPswrd},
               #{userName},
               #{userNiknm},
               #{cellTellNo},
               #{birthDate},
               #{genderType},
               NOW())
    </insert>

    <insert id="insUserAuthmMngmt" parameterType="kr.fingate.gs.auth.signup.dto.SignupDto">
        /* SignupDao.insUserAuthmMngmt */
        INSERT INTO FG_USER_AUTHM_MNGMT(
                USER_NO,
                SOCIAL_TYPE,
                SOCIAL_ID,
                AUTHM_ROLE,
                AUTHM_EMAIL_YN,
                AUTHM_TELLNO_YN,
                LAST_LOGIN_DATE,
                PSWRD_MOD_DATE)
        VALUES(#{userNo},
               #{socialType},
               #{socialId},
               #{authmRole},
               IFNULL(#{authmEmailYn}, 'N'),
               IFNULL(#{authmTellnoYn}, 'N'),
               NOW(),
               NOW())
    </insert>

</mapper>