<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.fingate.gs.hr.emp.family.dao.FamilyDao">

    <sql id="getFamilyListWhere">
        <where>
            AND A.EMP_NO = #{empNo}
            AND B.CLIENT_NO = #{clientNo}
            AND A.EMP_NO = B.EMP_NO
            AND A.DATA_STATE != 'D'
        </where>
    </sql>

    <select id="getFamilyList_COUNT" parameterType="EmpSearchDto" resultType="long">
        SELECT COUNT(1)
        FROM TB_EMP_FAMILY A
        , TB_EMP B
        <include refid="getFamilyListWhere"/>
    </select>

    <!-- 피고용인 가족정보조회 -->
    <select id="getFamilyList" parameterType="EmpSearchDto" resultType="EmpFamilyVO">
        SELECT A.EMP_NO
             , A.FAMILY_SEQ
             , A.RLTN
             , A.NAME
             , FN_MASK_IDNTF( FN_DEC(A.IDNTN_NO)) AS IDNTN_NO
             , A.REAL_BRTHD
             , A.BRTHD_LUNAR_YN
             , A.CHBTT_YN
             , A.JOB
             , A.OFFICE
             , A.OFFICE_PSTN
             , FN_MASK_TLPHN(FN_DEC(A.CLPHN_NO)) AS CLPHN_NO
             , FN_MASK_TLPHN(FN_DEC(A.HOME_TLPHN_NO)) AS HOME_TLPHN_NO
             , FN_MASK_TLPHN(FN_DEC(A.OFFICE_TLPHN_NO)) AS OFFICECE_TLPHN_NO
             , TO_CHAR(A.REG_DATE, 'YYYYMMDD') AS REG_DATE
             , A.REG_USER_NO
             , A.DATA_STATE
         FROM TB_EMP_FAMILY A
            , TB_EMP B
            <include refid="getFamilyListWhere"/>
        ORDER BY A.FAMILY_SEQ DESC
    </select>


</mapper>