<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.fingate.gs.common.encryption.dao.EncryptionDao">

    <select id="getAeskeyM" resultType="AesKeyVO">
        SELECT TYPE, AKEY, IV FROM common.tb_aeskey WHERE TYPE = 'GS'
    </select>
    <select id="getAeskeyO" resultType="AesKeyVO">
        SELECT SYSTYPE AS TYPE, KEY AS AKEY, IV FROM SYS.TB_AESKEY WHERE SYSTYPE = 'GC'
    </select>

</mapper>